/* стили для шапки сайта*/

.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header nav {
  align-self: center;
}

.menu {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  align-self: center;
}

.menu-list-no-bullit {
  list-style-type: none;
}

.link-decoration {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.link-decoration-none {
  text-decoration: none;
}

.logo-link {
  justify-self: center;
}

.logo {
  width: 145px;
  height: 105px;
}

.address {
  justify-self: end;
  align-self: center;
  font-style: normal;
  line-height: 1.35;
  display: flex;
  flex-direction: column;
  width: 240px;
}

/* стили для ковра*/

.cover {
  width: 100%;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #fff;
  text-transform: uppercase;
  padding: 165px 50px 0 50px;
  gap: 134px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
  right: 0;
  top: 0;
}

.cover-title {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.3em;
  line-height: 100px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover-title-text-left {
  line-height: 1.15;
}

.cover-title-text-center {
  align-self: center;
}

.cover-title-text-right {
  align-self: end;
}

.decrease-letter-spacing {
  letter-spacing: 0.6em;
}

.decrease-letter-spacing-zero {
  letter-spacing: 0px;
}

.cover-tagline {
  display: flex;
  justify-content: end;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  z-index: 2;
  align-items: center;
  gap: 78px;
  padding-bottom: 50px;
}

.cover-tagline-text {
  word-spacing: 17px;
}

.cover-text-decrease-letter-spacing {
  word-spacing: 23px;
}

.cover-tagline-button {
  background-color: rgb(0, 0, 0, 0);
  padding: 12px 32px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  color: #fff;
  border: 1px solid currentColor;
  text-transform: uppercase;
}

/*стили для секции с лотами*/

.lots {
  padding: 180px 50px;
}

.lots-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots-list {
  color: #fff;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.lots-list-item {
  position: relative;
  width: 430px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  flex-grow: 1;
}

.lots-list-item-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lots-list-item-background_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots-list-item-background_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots-list-item-background_painting {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-list-item-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.lots-list-item-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.lots-button {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.position-higher {
  z-index: 2;
}

/* стили для секции about*/

.about {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 430px 1fr;
  margin: 0 50px 180px 50px;
  column-gap: 25px;
  row-gap: 8px;
}

.about-logo-container {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  padding: 63px 46px;
}

.about-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: start;
  padding-top: 8px;
}

.about-paragraph-container {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-paragraph {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

/*стили для footer*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding: 0 50px;
}

.list-socials {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.list-socials-item {
  width: 48px;
  height: 48px;
  text-align: center;
}

.menu-horizontal {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-horizontal-item {
  text-underline-offset: 4px;
  color: #000;
}

.menu-horizontal-item-active {
  text-decoration: none;
}
