/* стили для шапки сайта*/

.header {
  padding: 92px 49px 92px 51px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header nav {
  align-self: center;
}

.header-menu {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  align-self: center;
}

.header-menu-list-no-bullit {
  list-style-type: none;
}

.link-decoration {
  border-bottom: 1px solid #000;
}

.link-decoration-none {
  text-decoration: none;
}

.header-logo-link {
  justify-self: center;
}

.header-logo {
  width: 145px;
  height: 105px;
}

.header-address {
  justify-self: end;
  align-self: center;
  font-style: normal;
  line-height: 1.35;
}

/* стили для ковра*/

.cover {
  width: 100%;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #fff;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
  right: 0;
  top: 0;
}

.cover-title {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 100%;
  padding: 172px 50px 123px 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cover-title-text-center {
  align-self: center;
  margin: 8px 55px 0 0;
}

.cover-title-text-right {
  align-self: end;
  margin-bottom: -4px;
}

.cover-tagline {
  display: flex;
  justify-content: end;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  z-index: 2;
  align-items: center;
  gap: 78px;
  padding: 0px 50px 34px 0;
}

.cover-tagline-text {
  white-space: pre-wrap;
}

.cover-tagline-button {
  background-color: rgb(0, 0, 0, 0);
  padding: 12px 32px;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.decrease-letter-spacing {
  letter-spacing: 5px;
}

.decrease-letter-spacing-zero {
  letter-spacing: 0px;
}

/*стили для секции с лотами*/

.lots {
  padding: 180px 50px;
}

.lots-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots-list {
  color: #fff;
  display: flex;
  gap: 25px;
}

.lots-list-item {
  position: relative;
  width: 430px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
}

.lots-list-item-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lots-list-item-background_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots-list-item-background_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots-list-item-background_painting {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-list-item-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-decoration: underline;
  text-transform: uppercase;
}

.lots-list-item-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.lots-button {
  display: inline-block;
  margin: 30px 0 0 40px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lots-button-link {
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
}

.position-higher {
  z-index: 2;
}

/* стили для секции about*/

.about {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 430px 1fr;
  margin: 0 50px 180px 50px;
  column-gap: 25px;
  row-gap: 8px;
}

.about-logo-container {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 120px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  padding: 63px 46px;
}

.about-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: start;
  padding-top: 8px;
}

.about-paragraph-container {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-paragraph {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

/*стили для footer*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  padding: 0 50px;
}

.list-socials {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style-type: none;
}

.list-socials-item {
  width: 48px;
  height: 48px;
  text-align: center;
}

.footer-menu {
  list-style-type: none;
  text-align: center;
}

.footer-menu-item {
  border-bottom: 1px solid #000;
  display: inline;
}

.footer-menu-item a {
  text-decoration: none;
  color: #000;
}

.footer-menu-item-active {
  border-bottom: 0;
}
